<html>

<head>
    <style type="text/css">
        #messageWindow {
            border: solid 1px #000;
        }

        button {
            padding: 5px;
        }
    </style>
</head>

<body>
    <div id="messageWindow"></div>
    <div id="buttons">
        <button id="saveButton">Save</button>
        <button id="loadButton">Load</button>
        <button id="nextButton">Next</button>
    </div>
    <script src="../../it-sounds-novel.js"></script>
    <script type="text/javascript">
        var ItSoundsNovel = require('it-sounds-novel');
        var scenario = new ItSoundsNovel.Scenario(window);
        scenario.load('disable_a_button.yml');
    </script>
    <button id="button1" style="display: none"></button>
    <button id="button2" style="display: none"></button>
    <div id="statusWindow"></div>
</body>

</html>