<html>

<head>
    <style type="text/css">
        #backgroundWindow {
            position: relative;
            width: 600px;
            height: 600px;
        }

        #messageWindow {
            border: solid 1px #000;
            width: auto;
            margin-left: 50px;
            margin-right: 50px;
            background-color: #fff;
            padding: 10px;
        }

        #nextButton {
            position: absolute;
            right: 60px;
            padding: 5px;
        }
    </style>
</head>

<body>
    <div id="backgroundWindow">
        <div id="messageWindow"></div>
        <button id="nextButton">Next</button>
    </div>
    <script src="../../visual-novel.js"></script>
    <script type="text/javascript">
        var VisualNovel = require('visual-novel');
        var scenario = new VisualNovel.Scenario();
        scenario.load('display_images.yml');
    </script>
</body>

</html>