<html>

<head>
    <style type="text/css">
        div {
            border: solid 1px #000;
            width: 300px;
        }
    </style>
</head>

<body>
    <div id="messageWindow"></div>
    <button id="nextButton">Next</button>
    <script src="../../visual-novel.js"></script>
    <script type="text/javascript">
        var VisualNovel = require('visual-novel');
        var scenario = new VisualNovel.Scenario();
        scenario.load('wait_for_seconds.yml');
    </script>
</body>

</html>